.header {
  padding: 12px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transform: translateY(-100%);
  animation: slideInDown 1s ease-out forwards 1s;
  $root: &;

  @include vp-767 {
    padding: 8px 0;
  }

  &__wrapper {
    background-color: $color-white;
    border-radius: 20px;
    padding: 12px 36px;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    gap: 30px;
    align-items: center;

    @media (max-width: 1160px) {
      grid-template-columns: 160px 1fr 160px;
      gap: 15px;
      padding: 12px 20px;
    }

    @include vp-1023 {
      display: flex;
      justify-content: space-between;
      padding: 12px 24px;
    }

    @include vp-767 {
      padding: 14px 12px;
    }
  }

  &__logo {
    color: $color-free-speech-blue;
    display: flex;
    outline: none;
    transition: color $transition-300;

    &:focus-visible,
    &:hover {
      color: $color-light-pink;

      #{$root} {
        &__logo-icon {
          &-cat {
            opacity: 0;
            transform: translateY(10px);
          }

          &-dog {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }

    &-icon {
      &-dog {
        opacity: 0;
        transform: translateY(12px);
        transition: opacity $transition-300, transform $transition-300;
      }

      &-cat {
        opacity: 1;
        transform: translateY(0);
        transition: opacity $transition-300, transform $transition-300;
      }
    }
  }

  &__icon-logo {
    height: 41px;
    width: 193px;

    @include vp-1023 {
      width: 170px;
      height: 36px;
    }

    @include vp-767 {
      width: 114px;
      height: 24px;
    }
  }

  &__user {
    &-list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 16px;
      justify-content: flex-end;

      @include vp-1023 {
        gap: 12px;
      }

      @include vp-767 {
        gap: 8px;
      }
    }

    &-item--burger {
      display: none;

      @include vp-1023 {
        display: flex;
      }
    }

    &-link {
      display: flex;
      height: 36px;
      width: 36px;
      align-items: center;
      justify-content: center;
      color: $color-night-rider;
      transition: color $transition-300;
      border: none;
      background-color: transparent;
      padding: 0;
      cursor: pointer;

      @include vp-767 {
        height: 28px;
        width: 28px;
      }

      svg {
        height: 36px;
        width: 36px;

        @include vp-767 {
          height: 28px;
          width: 28px;
        }
      }

      &:hover,
      &:focus-visible {
        color: $color-free-speech-blue;
      }
    }
  }
}

@keyframes slideInDown {
  100% {
    transform: translateY(0);
  }
}
